@import url('https://fonts.googleapis.com/css?family=Poor+Story');

body {
  background-image: url('https://source.unsplash.com/random');
  box-sizing: content-box;
}
.App {
  min-height: 40vh;
  max-width: 400px;
  background: lightgray;
  padding: 15px;
  border-radius: 20px;
  display: grid;
  /*grid-template-rows: 1fr 1fr 1fr 1fr;*/
}

.container {
  max-width: 400px;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

h1 {
  text-align: center;
  font-family: 'Poor Story', cursive, Helvetica;
}

.input {
  display: felx;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  font-family: 'Poor Story', cursive, Helvetica;
}

.counter {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-end;
  font-family: 'Poor Story', cursive, Helvetica;
}
